/* set a max-width for horizontal fluid layout and make it centered */

/* Framework Stylesheet */

@media (min-width: 992px) {
  .dash-container {
    width: 960px;
}

@media (min-width: 992px) {
  .shadow-container {
    width: 970px;
}

@media (min-width: 992px) {
  .body-container {
    width: 940px;
}

.header {
  width: 100%;
  padding: 0;
}

.header-box {
  background: #208ee5;
  height: 3.7em;
}

.dash {
  margin-bottom: 1.3em;
  margin-top: 1.3em;

}
.dashboard-box {
  border-top-left-radius: .4em;
  border-bottom-left-radius: .4em;
  background: #33cc66;
  height: 6.1em;
}

.search-box {
  border-top-right-radius: .4em;
  border-bottom-right-radius: .4em;
  background: #33cc66;
  height: 6.1em;
}

.shadow {
  height: 1.3em;
  padding: 0em;
}

.announcement-box {
  border: 1px solid #dddddd;
  border-right: 0em;
  height: 4.1em;
  background-color: #fff;


}

.nav-bg {
  padding:0em;
  background: url("../images/bg-top-left.png") repeat;
}

.lorem-box {
  border: 1px solid #dddddd;
  border-right: 0em;
  height: 4.1em;
  background-color: #fff;

}

.arrows {
  border: 1px solid #dddddd;
  height: 4.1em;
  background-color: #fff;
  padding-left: 1.2em;
  padding-right: 1.2em;


}

.tasks-box {
  border-left: 1px solid #dddddd;
  height: 25.3em;
  background-color: #fff;
}

.recs-box {
  border: 1px solid #dddddd;
  border-right: 0em;
  height: 47.2em;
  background-color: #fff;

}

.analytics-box {
  border: 1px solid #dddddd;
  border-top: 0em;
  height: 33.8em;
  background-color: #fff;

}

.customer-box {
  border: 1px solid #dddddd;
  border-top: 0em;
  height: 22.5em;
  background-color: #fff;

}

.know-box {
  border: 1px solid #dddddd;
  border-top: 0px;
  height: 16.2em;
  background-color: #fff;

}

.body-boxes {
  background: #2498f4;
  height: 18.5em;
  margin-bottom: 4em;
}

.bottlinks {
  background: #f6f6f6;
  border-right: 1px solid #dddddd;
  height: 4.4em;

}

.cooper {
  background: #f6f6f6;
  border-right: 1px solid #dddddd;
  height: 4.4em;
}

.footinfo {
  background: #f6f6f6;
  border-right: 1px solid #dddddd;
  height: 4.4em;
  padding: .8em;
}

.footer {
  width: 100%;
  padding: 0px;
}
