/* set a max-width for horizontal fluid layout and make it centered */

/* Framework Stylesheet */

.header {
  width: 100%;
  padding: 0;
}

.header-box {
  background: #208ee5;
  height: 3.7em;
}

.dash {
  margin-bottom: 1.3em;
  margin-top: 1.3em;

}
.dashboard-box {
  border-top-left-radius: .4em;
  border-bottom-left-radius: .4em;
  background: #33cc66;
  height: 6.1em;
}

.search-box {
  border-top-right-radius: .4em;
  border-bottom-right-radius: .4em;
  background: #33cc66;
  height: 6.1em;
}

.shadow {
  height: 1.3em;
  padding: 0em;
}

.announcement-box {
  border: 1px solid #dddddd;
  border-right: 0em;
  height: 4.1em;
  background-color: #fff;


}

.nav-bg {
  padding:0em;
  background: url("../images/bg-top-left.png") repeat;
}

.lorem-box {
  border: 1px solid #dddddd;
  border-right: 0em;
  height: 4.1em;
  background-color: #fff;

}

.arrows {
  border: 1px solid #dddddd;
  height: 4.1em;
  background-color: #fff;
  padding-left: 1.2em;
  padding-right: 1.2em;


}

.tasks-box {
  border-left: 1px solid #dddddd;
  height: 25.3em;
  background-color: #fff;
}

.recs-box {
  border: 1px solid #dddddd;
  border-right: 0em;
  height: 44.9em;
  background-color: #fff;
}

.analytics-box {
  border: 1px solid #dddddd;
  border-top: 0em;
  max-height: 33.8em;
  background-color: #fff;

}

.customer-box {
  border: 1px solid #dddddd;
  border-top: 0em;
  min-height: 22.5em;
  background-color: #fff;

}

.know-box {
  border: 1px solid #dddddd;
  border-top: 0px;
  min-height: 16.2em;
  background-color: #fff;

}

.body-boxes {
  background: #2498f4;
  min-height: 18.5em;
  margin-bottom: 4em;
}

.bottlinks {
  background: #f6f6f6;
  border-right: 1px solid #dddddd;
  height: 4.4em;

}

.cooper {
  background: #f6f6f6;
  border-right: 1px solid #dddddd;
  height: 4.4em;
}

.footinfo {
  background: #f6f6f6;
  border-right: 1px solid #dddddd;
  height: 4.4em;
  padding: .8em;
}

.footer {
  width: 100%;
  padding: 0px;
}


@media (min-width: 992px) {
  .dash-container {
    width: 960px;
  }
  .shadow-container {
    width: 970px;
  }
  .body-container {
    width: 940px;
  }
}


@media (max-width: 990px) {
  .dash-container {
    display: none;
  }
  .know-centered{
    padding: 1.3em 0em 1.3em 0em;
    height: 12em;
    border-radius: 3px;
    background: #2498f4;
    display:inline-block;
    float:none;
    text-align: left;
    position: relative;
    margin-top: 2.2em;
  }
  .tab-right {
    position: absolute;
    padding-top: 3em;
    padding-left: 28.8em;
  }

  .arrow-right {
    position: absolute;
    padding-top: 4.3em;
    padding-left: 29.7em;
  }
  .did-you-know {
    color: #fff;
    padding: 2px 20px 10px 30px;
    font-size: 1em;
    position: relative;
  }
  .search-box {
    /* padding-right: 5.5em; */
  }
  .lorem {
    text-align: center;
  }
  .recs-box {
    border-right: 0em;
    height: 27em;
  }
  .customer {
    margin-top: 11%;
    margin-bottom: 1em;
    margin-left: 6.5em;
  }
  .footer-links {
    padding: 0px 5px 0px 5px;
    color:#b0b0b0;
    border-right: 1px solid #b0b0b0;
    font-size: 1em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .footer-table {
    margin-left: 0em;
  }
  .logout {
    float: none;
    margin-left: 4em;
  }
  .footer-table {
    margin-left: 1.5em;
  }
  .navbar {
    margin-bottom: -27px;
  }
  .navbar-toggle {
    float: left;
    margin-left: 4em;
    margin-top: 1em;
  }
  .searchinput {
    margin-right: 1.5em;
  }
  .navbar-default {
    background: #194b74;
    border: 0px;
    width: 130px;
  }
  .navbar-default .navbar-nav>li>a {
    color: #fff;
  }
  .searchinput {
    margin-top: 2.5em;
    width: 18em;
  }
  .search-mobile {
    background: #194b74;
  }
  .container {
    padding-bottom: .5em;
  }
  .navbar-nav {
    margin: 0px;
  }
  .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
    margin-top: 6px;
  }
  .boxys {
    margin-top: 1.7em;
    margin-left: 3.5em;
  }

}
