.article, .avatar-green, .avatar-orange, .bulb, .channels, .checklist, .dash-btn-left, .dash-btn-right, .flag-left, .flag-right, .graph, .green-graph, .orange-graph, .person-sm-blue, .person-sm-gray, .referrals, .semicircle-left, .semicircle-leftt, .settings{
	background: url(images/sprites-body.png) no-repeat;
	display: block;
}

.article{
	background-position: -331px -199.0000114440918px ;
	width: 19px;
	height: 23px;
}

.avatar-green{
	background-position: 0 -225.99020385742188px ;
	width: 78px;
	height: 82px;
}

.avatar-orange{
	background-position: 0 -339px ;
	width: 78px;
	height: 82px;
}

.bulb{
	background-position: -285px -199.0000114440918px ;
	width: 14px;
	height: 23px;
}

.channels{
	background-position: -207.9580078125px 0;
	width: 184px;
	height: 184px;
}

.checklist{
	background-position: -228px -199.0000114440918px ;
	width: 23px;
	height: 20px;
}

.dash-btn-left{
	background-position: -171px -377.0000114440918px ;
	width: 22px;
	height: 22px;
}

.dash-btn-right{
	background-position: -200px -377.0000114440918px ;
	width: 22px;
	height: 22px;
}

.flag-left{
	background-position: -335px -409.0000114440918px ;
	width: 15px;
	height: 40px;
}

.flag-right{
	background-position: -299px -409.0000114440918px ;
	width: 15px;
	height: 40px;
}

.graph{
	background-position: 0 -460px ;
	width: 850px;
	height: 403px;
}

.green-graph{
	background-position: -434.9793701171875px -193.96585083007812px ;
	width: 382px;
	height: 166px;
}

.orange-graph{
	background-position: -435.9617919921875px 0;
	width: 384px;
	height: 162px;
}

.person-sm-blue{
	background-position: -300px -279.0000114440918px ;
	width: 20px;
	height: 20px;
}

.person-sm-gray{
	background-position: -300px -329.0000114440918px ;
	width: 20px;
	height: 20px;
}

.referrals{
	background-position: -2px 0;
	width: 180px;
	height: 178px;
}

.semicircle-left{
	background-position: -246px -247.00000762939453px ;
	width: 22px;
	height: 50px;
}

.semicircle-leftt{
	background-position: -195px -246.00000762939453px ;
	width: 22px;
	height: 50px;
}

.settings{
	background-position: -153.9580078125px -249.99020385742188px ;
	width: 20px;
	height: 20px;
}
