/* Main Style */
body {
  font-family: "myriad pro";
  font-size: 12px;
  color: #333;
  background-color: #fff;
}

.list-inline {
  text-align: center;
  margin: 0px;
  list-style-type: none;
}

.list-inline a {
  display: block;
  background:url(sprites-header.jpg)
}

.col-md-7 {
  padding: 0px;
}

span {
  color:#7f7f7f;
  font-size: 1em;
  font-weight: normal;
}

.row-centered {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

p {
  padding-top: 7px;
  margin-bottom: 0px;
}

a {
color: #2498f4;
text-decoration: none;
}

h2 {
  color: #2498f4;
  font-size: 1.2em;
  display: inline;
}

h3 {
  color: #2498f4;
  font-size: 2.3em;
}

h4 {
  margin: 0px;
  color: #2498f4;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h4.a {
  color: #2498f4;
}

h5 {
  color: #2498f4;
  font-size: 1.6em;
}

h5:hover {
  color: #cccccc;
}

h6 {
  color: #fff;
  margin-top: 8px;
  position: relative;
  top: 53%;
  transform: translateY(-50%);
}



/*Header Styles*/

.stream {
  color: #fff;
  font-size: 1.5em;
  padding-left: 7.5em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mini {
  color: #fff;
  font-size: 1.1em;
  margin-top: 1.2em;
}

.settings-icon {
  padding-top: 1.9em;
}

.nav-bg {
  background: url(../images/header/bg-main.png) repeat-x;
}



/*Body Styles*/

.dashboard {
  color: #fff;
  font-size: 3em;
  padding-left: 1em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.col-md-3 {
  padding-top: 5px;
  padding-left: 10px;
}

.searchinput {
  height: 3em;
  width: 21.5em;
  border-radius: 5px;
  border: 1px solid #33cc66;
  float: right;
  background: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.glyphicon-search {
  float: right;
  font-size: 1.7em;
  padding-right: 5px;
  color: #2498f4;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 88%;
}

.center-block {
  position: absolute;
}

.announcement {
  color: #fe7f13;
  font-size: 1.2em;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.lorem {
  color: #777777;
  font-size: 1.2em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.circle-btn-left {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.circle-btn-right {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.tasks {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}

.person-btn {
  width: 5em;
  height: 2.6em;
  border: 1px solid #dddddd;
  border-radius: 4px;
  text-align: center;
}

.number-btn {
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  background: #33cc66;
  text-align: center;

}

.number-btn:hover {
  background: #cccccc;
}

.number {
  color: #2498f4;
  font-size: 1.2em;
  float: right;
  padding-right: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.number:hover{
  color: #cccccc;
}

.person-small {
  padding-top: 4px;
}

.recs {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #cccccc;
}

.recs-images {
  padding-top: 2px;
}

.recs-text-small {
  font-size: .8em;
}

.recs-text {
  font-size: 1.2em;
  color: #777777;
  padding-top: 0px;
}

.activity {
  border-right: 1px solid #ccc;
  padding: 0em 2.4em 3em 2em;
}

.activity-text {
  font-size: 1.2em;
  padding-left: 7%;
  color: #cccccc;
}

.graph {
  width: 36em;
}

.glyphicon-chevron-down {
  color: black;
}

.btn-group {
  float: right;
  margin-top: -5px;
}

.channels {
  height: 80px;
  padding-left: 1.5em;
}

.channels-text {
  font-size: 1em;
  color: #cccccc;
  padding-left: 2em
}

.checkbox-style {
  text-align: center;
  padding-top: 3em;
  padding-right: 3.5em;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
  display:inline-block;
  width:1.6em;
  height:1.6em;
  margin:-1px 4px 0 0;
  vertical-align:middle;
  background:url(../images/body/checkbox.png);
  cursor:pointer;

}

input[type="checkbox"]:checked + label span {
  background:url(../images/body/checkmark.png);
}

.social-check{
  padding-right: 1.3em;
}

.customer {
  border-radius: 5px;
  height: 16.3em;
  width: 17.5em;
  padding: 0px;
  margin-left: 10%;
  margin-top: 8%;
  box-shadow: 1px 1px 6px 1px #cccccc;
}

.flag-left {
  position: relative;
  margin-left: -1.2em;
    top: 1.9em;
}

.flag-right {
  position: relative;
    left: 17.5em;
    top: -3.3em;
}

.avatar-customer {
  padding-left: 5.25em;
  padding-right: 5.25em;
  position: relative;
  top: -2em;
}

.blue-banner {
  width: 100%;
  height: 4em;
  background: #2394ee;
  position: relative;
  top: -7em;
}

.customers-big{
  color: white;
  font-size: 1.5em;
  padding-top: .3em;
  text-align: center;
}

.customers-small{
  color: white;
  line-height: .8em;
  text-align: center;

}

.contact-graph {
  height: 6.6em;
  position: relative;
  top: -6em;
  border: 1px solid #cccccc;
  margin-left: 1.1em;
}

.know-centered{
  padding: 1.3em 0em 1.3em 0em;
  width: 46.7em;
  height: 12em;
  border-radius: 3px;
  background: #2498f4;
  display:inline-block;
  float:none;
  text-align: left;
  position: relative;
  margin-top: 2.2em;
  margin-left: 1.5em;
}

.tab-left {
  position: absolute;
  padding-top: 3em;
}

.arrow-left {
  position: absolute;
  padding-top: 4.3em;
}

.tab-right {
  position: absolute;
  padding-top: 3em;
  padding-left: 45em;
}

.arrow-right {
  position: absolute;
  padding-top: 4.3em;
  padding-left: 46em;
}

.did-you-know {
  color: #fff;
  padding: 17px 40px 10px 40px;
  font-size: 1em;
}

span.latin-text {
  font-size: 1.3em;
  color: #fff;
}

.boxys {
  margin-top: 1.7em;
  margin-left: 1.5em;

}

.boxy-centered {
  padding: 0px;
  width: 284px;
  height: 164px;
  border-radius: 5px;
  background: #fff;
  display:inline-block;
  float:none;
  position: relative;
}

.boxy-centered.overlay-one {
  background: url(../images/body/boxy1.png);
  margin-right: 1em;
}

.boxy-centered.overlay-two {
  background: url(../images/body/boxy2.png);
  height: 174px;
  margin-right: 1em;
}

.boxy-centered.overlay-three {
  background: url(../images/body/boxy3.png);
}

.boxy-images {
  position: relative;
}



/* Footer Styles */

.footer-table {
  margin-left: 13em;
  margin-top: 1em;
}

.footer-links {
  padding: 0px 10px 0px 10px;
  color:#b0b0b0;
  border-right: 1px solid #b0b0b0;
  font-size: 1em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer-links-blog {
  padding: 0px 10px 0px 10px;
  color:#b0b0b0;
  font-size: 1em;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.pullup {
  float: right;
  padding-top: 7px;
}

.logout {
  float:right;

}
img.social {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: 1.2em;
  width: 1.4em;
  margin-left: 4px;
}

img.avatar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  width: 3.4em;
}
