/* Main Style */
body {
  font-family: "myriad pro";
  font-size: 12px;
  color: #333;
  background-color: #fff;

}

p {
  padding-top: 7px;
  margin-bottom: 0px;

}

h3 {
  color: #2498f4;
  font-size: 2.3em;
}

h5 {
  color: #2498f4;
  font-size: 1.6em;
}

h5:hover {
  color: #cccccc;

}

h6 {
  color: #fff;
  margin-top: 8px;
  position: relative;
  top: 53%;
  transform: translateY(-50%);
}

h2 {
  color: #2498f4;
  font-size: 1.2em;
  display: inline;

}

.col-md-7 {
  padding: 0px;
}

.stream {
  color: #fff;
  font-size: 1.5em;
  padding-left: 128px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.settings-icon {
  padding-top: 22px;
}

.center-block {
  position: absolute;

}

.dash li:hover {
  background-image: url(icon-dash-hover);
  background-position: -300px -100px;
}

.person-btn {
  width: 60px;
  height: 30px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  text-align: center;
}

.number-btn {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #33cc66;
  text-align: center;

}

.number-btn:hover {
  background: #cccccc;
}

.number {
  color: #2498f4;
  font-size: 1.2em;
  float: right;
  padding-right: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.number:hover{
  color: #cccccc;
}

.person-small {
  padding-top: 4px;
}



.boxy-customer {
  border: 1px solid gray;
  border-radius: 5px;
  width: 210px;
  height: 195px;
  padding: 0px;
}

.mini {
  margin-top: 1.2em;
}

.dashboard {
  color: #fff;
  font-size: 36px;
  padding-left: 27px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.col-md-3 {
  padding-top: 5px;
  padding-left: 10px;
}

.searchinput {
  height: 34px;
  width: 260px;
  border-radius: 5px;
  border: 1px solid #33cc66;
  float: right;
  background: #fff;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mini {
  color: #fff;
  font-size: 14px;
}

.recs {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #cccccc;
}

.recs-text-small {
  font-size: .8em;
}

.recs-text {
  font-size: 1.2em;
  color: #777777;
  padding-top: 0px;
}

.list-inline {
  text-align: center;
  margin: 0px;

}

.list-inline:hover {
  background-position: -298 -247px;

}

.announcement {
  color: #fe7f13;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.lorem {
  color: #777777;
  font-size: 14px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.circle-btn-left {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.circle-btn-right {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer-table {
  margin-left: 125px;
  margin-top: 11px;
}

.footer-links {
  padding: 0px 10px 0px 10px;
  color:#b0b0b0;
  border-right: 1px solid #b0b0b0;
  font-size: 13px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}

h4 {
  padding-left: 22px;
  margin: 0px;
  color: #2498f2;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

span {
  color:#7f7f7f;
  font-size: 13px;
  font-weight: normal;

}

img.social {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: 15px;
  width: 16px;
  margin-left: 4px;
}

img.avatar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  width: 40px;
}

.nav-bg {
  background: url(../images/header/bg-main.png) repeat-x;


}

.row-centered {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.boxy-centered {
  padding: 0px;
  width: 284px;
  height: 164px;
  border-radius: 5px;
  background: #fff;
  display:inline-block;
  float:none;
  position: relative;
  display: inline;

}

.know-centered{
  padding: 20px;
  width: 560px;
  height: 140px;
  border-radius: 5px;
  background: #2498f4;
  display:inline-block;
  float:none;
  text-align: left;
}

.blue-banner {
  width: 100%;
  height: 50px;
  background: #2394ee;

}

.glyphicon-search {
  float: right;
  font-size: 22px;
  padding-right: 5px;
  color: #2498f4;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 88%;
}

.glyphicon-chevron-down {
  color: black;
}

.btn-group {
  float: right;
  margin-top: -5px;
}

.activity {
  border-right: 1px solid #ccc;
  padding: 0px 40px 35px 25px;
}

.channels {
  padding-left: 20px;
}

.table-tasks {
  width: 100%;
}

.checkbox {
  text-align: center;
}

.social-check{
  padding-right: 30px;


}

.activity-text {
  font-size: 1.2em;
  padding-left: 7%;
  color: #cccccc;

}

td.tasks-data {
  height: 55px;
  width: 45px;
  padding-top: 0px;
}

.task-header {
  height: 55px;
  font-size: 32px;
  color: #2498f4;
}

.tasks {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cccccc;
}


.btn-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0px;
    background: #32cc66;
    overflow:hidden;
    text-align: center;
}

.tasks-text {
  font-size: 21px;
  color: #2498f4;
}
